
.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-rewind1:before { content: '\e802'; } /* '' */
.icon-rewind3:before { content: '\e803'; } /* '' */
.icon-forward3:before { content: '\e804'; } /* '' */
.icon-forward1:before { content: '\e805'; } /* '' */
.icon-pl_prev:before { content: '\e806'; } /* '' */
.icon-pl_next:before { content: '\e807'; } /* '' */
.icon-fullscreen:before { content: '\e808'; } /* '' */
.icon-play-pause:before { content: '\e809'; } /* '' */
.icon-note-beamed:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-flashlight:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-star:before { content: '\e80e'; } /* '' */
.icon-video:before { content: '\e80f'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-direction:before { content: '\e811'; } /* '' */
.icon-folder:before { content: '\e812'; } /* '' */
.icon-print:before { content: '\e813'; } /* '' */
.icon-left:before { content: '\e814'; } /* '' */
.icon-right:before { content: '\e815'; } /* '' */
.icon-refresh:before { content: '\e816'; } /* '' */
.icon-down-circle:before { content: '\e817'; } /* '' */
.icon-volume-off:before { content: '\e818'; } /* '' */
.icon-volume-low:before { content: '\e819'; } /* '' */
.icon-volume-middle:before { content: '\e81a'; } /* '' */
.icon-volume-high:before { content: '\e81b'; } /* '' */
.icon-minus:before { content: '\e81c'; } /* '' */
.icon-plus-outline:before { content: '\e81d'; } /* '' */
.icon-minus-outline:before { content: '\e81e'; } /* '' */
.icon-plus:before { content: '\e81f'; } /* '' */
.icon-up-circle:before { content: '\e820'; } /* '' */
.icon-left-circle:before { content: '\e821'; } /* '' */
.icon-right-circle:before { content: '\e822'; } /* '' */
.icon-cw-circle:before { content: '\e823'; } /* '' */
.icon-updown-circle:before { content: '\e824'; } /* '' */
.icon-resize-full-circle:before { content: '\e825'; } /* '' */
.icon-ok-circle:before { content: '\e826'; } /* '' */
.icon-plus-circle:before { content: '\e827'; } /* '' */
.icon-minus-circle:before { content: '\e828'; } /* '' */
.icon-cancel-circle:before { content: '\e829'; } /* '' */
.icon-home-outline:before { content: '\e82a'; } /* '' */
.icon-down:before { content: '\e82b'; } /* '' */
.icon-up:before { content: '\e82c'; } /* '' */
.icon-loop-alt:before { content: '\e82d'; } /* '' */
.icon-flash-outline:before { content: '\e82e'; } /* '' */
.icon-resize-small:before { content: '\e82f'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-bell:before { content: '\f03f'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-brand-youtube:before { content: '\f16a'; } /* '' */
.icon-connect:before { content: '\f1e6'; } /* '' */
.icon-brand-safari:before { content: '\f267'; } /* '' */
