[data-page]{
    position:fixed; /* or absolute if the content exceeds the height of the page */
    width: 100%;
    min-height: 100vh;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    transition: opacity 0.2s ease-in, opacity 0.1s ease-in;
    z-index: 10;
}

[data-page].active{
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 100;
}

section#about-page.section.active {
    padding-top: 0;
    position: absolute !important;
}

section#home-page.section.active {
    padding-top: 0;
    position: absolute !important;
}

#buttonContainer button,
#buttonInfoContainer article,
#buttonNewContainer button {
  margin-bottom: .40rem !important;
  margin-right: .40rem !important;
}

#buttonContainer {
  margin-top: 1em;
}

#buttonInfoContainer {
    margin: 0 !important;
}

#buttonInfoContainer article {
    margin-bottom: 1.2em !important;
    margin-top: 0.8em !important;
}

#serverControls,
#serverMessagesControls {
  margin-top: 0 !important;
  margin-bottom: 0.4em !important;
  padding-top: 0;
  padding-bottom: 0;
}

#serverForm {
  padding-left: 0;
}

#serverForm div {
  padding-left: 0;
}

.hero-body, .section {
    padding: 1.5rem 1.5rem !important;
}

.big-logo {
  margin: 2em;
  text-align: center;
}

nav.navbar {
  border-radius: 0;
}

.buttonButtons {
  justify-content: center !important;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin: 0 !important;
  font-size: 120%;
}
