@font-face {
  font-family: 'zapete-font';
  src: url('../font/zapete-font.eot?3461470');
  src: url('../font/zapete-font.eot?3461470#iefix') format('embedded-opentype'),
       url('../font/zapete-font.woff2?3461470') format('woff2'),
       url('../font/zapete-font.woff?3461470') format('woff'),
       url('../font/zapete-font.ttf?3461470') format('truetype'),
       url('../font/zapete-font.svg?3461470#zapete-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zapete-font';
    src: url('../font/zapete-font.svg?3461470#zapete-font') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "zapete-font";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-bell:before { content: '\f03f'; } /* '' */
.icon-brand-safari:before { content: '\f267'; } /* '' */
.icon-brand-youtube:before { content: '\f16a'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-cancel-circle:before { content: '\e829'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-connect:before { content: '\f1e6'; } /* '' */
.icon-cw-circle:before { content: '\e823'; } /* '' */
.icon-direction:before { content: '\e811'; } /* '' */
.icon-down-circle:before { content: '\e817'; } /* '' */
.icon-down:before { content: '\e82b'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-flash-outline:before { content: '\e82e'; } /* '' */
.icon-flashlight:before { content: '\e80c'; } /* '' */
.icon-folder:before { content: '\e812'; } /* '' */
.icon-forward1:before { content: '\e805'; } /* '' */
.icon-forward3:before { content: '\e804'; } /* '' */
.icon-fullscreen:before { content: '\e808'; } /* '' */
.icon-home-outline:before { content: '\e82a'; } /* '' */
.icon-left-circle:before { content: '\e821'; } /* '' */
.icon-left:before { content: '\e814'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-loop-alt:before { content: '\e82d'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-minus-circle:before { content: '\e828'; } /* '' */
.icon-minus-outline:before { content: '\e81e'; } /* '' */
.icon-minus:before { content: '\e81c'; } /* '' */
.icon-note-beamed:before { content: '\e80a'; } /* '' */
.icon-ok-circle:before { content: '\e826'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-pl_next:before { content: '\e807'; } /* '' */
.icon-pl_prev:before { content: '\e806'; } /* '' */
.icon-play-pause:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e800'; } /* '' */
.icon-plus-circle:before { content: '\e827'; } /* '' */
.icon-plus-outline:before { content: '\e81d'; } /* '' */
.icon-plus:before { content: '\e81f'; } /* '' */
.icon-print:before { content: '\e813'; } /* '' */
.icon-refresh:before { content: '\e816'; } /* '' */
.icon-resize-full-circle:before { content: '\e825'; } /* '' */
.icon-resize-small:before { content: '\e82f'; } /* '' */
.icon-rewind1:before { content: '\e802'; } /* '' */
.icon-rewind3:before { content: '\e803'; } /* '' */
.icon-right-circle:before { content: '\e822'; } /* '' */
.icon-right:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e80e'; } /* '' */
.icon-up-circle:before { content: '\e820'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-up:before { content: '\e82c'; } /* '' */
.icon-updown-circle:before { content: '\e824'; } /* '' */
.icon-video:before { content: '\e80f'; } /* '' */
.icon-volume-high:before { content: '\e81b'; } /* '' */
.icon-volume-low:before { content: '\e819'; } /* '' */
.icon-volume-middle:before { content: '\e81a'; } /* '' */
.icon-volume-off:before { content: '\e818'; } /* '' */
